/*my dev scss file*/
* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

header {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../img/Photo0015.jpg);
  background-size: cover;
  height: 25%;
  width: 100%;
}

ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  font-size: 2.5em;
  height: 100%;
  margin: 0;
}
ul li {
  margin-top: 10px;
  list-style-type: none;
}
ul li a {
  color: red;
  text-decoration: none;
}

main {
  position: relative;
  z-index: 1;
  text-align: center;
  margin: 0;
  padding: 15px;
  background: #333;
  color: #55BADA;
  height: 100%;
  margin-bottom: 200px;
}

main:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1rem;
  font-size: 0.3rem;
  background-size: 1rem 100%;
  background-color: transparent;
  height: 1rem;
  width: 100%;
  border: none;
  margin: 0;
}

footer {
  height: 200px;
  width: 100%;
  text-align: center;
  background: black;
  color: #6abf40;
  position: fixed;
  bottom: 0;
  left: 0;
}

> h2 {
  font-size: 3em;
}

h1 {
  font-size: 3em;
}
